Life Expectancy Node Red.json
[{"id":"b2d04873.b93d28","type":"tab","label":"Life Expectancy","disabled":false,"info":""},{"id":"a0932654.bed1f8","type":"ui_form","z":"b2d04873.b93d28","name":"","label":"","group":"556d11c3.c4acc","order":2,"width":"9","height":"12","options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Adult Mortality (per 1000 population)","value":"mortality","type":"number","required":true,"rows":null},{"label":"Infant Deaths (per 1000 population)","value":"deaths","type":"number","required":true,"rows":null},{"label":"Alcohol Consumption","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"percent_expen","type":"number","required":true,"rows":null},{"label":"Hepatitis B (in %)","value":"HepB","type":"number","required":true,"rows":null},{"label":"Measles (per 1000 population)","value":"measles","type":"number","required":true,"rows":null},{"label":"Avg BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Number of under 5 deaths (per 1000 population)","value":"under5","type":"number","required":true,"rows":null},{"label":"Polio Immunization (in %)","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"total_expen","type":"number","required":true,"rows":null},{"label":"Diphtheria Immunization (in %)","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"Death by HIV/AIDS (per 1000 population)","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP (in USD)","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population of the Country","value":"population","type":"number","required":true,"rows":null},{"label":"Prevalence of Thinness (age 10 - 19)","value":"thin10","type":"number","required":true,"rows":null},{"label":"Prevalence of Thinness (age 5 - 9)","value":"thin5","type":"number","required":true,"rows":null},{"label":"Income Composition (Range 0 - 1)","value":"income","type":"number","required":true,"rows":null},{"label":"Number of years of Schooling (years)","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","mortality":"","deaths":"","alcohol":"","percent_expen":"","HepB":"","measles":"","bmi":"","under5":"","polio":"","total_expen":"","diphtheria":"","hiv":"","gdp":"","population":"","thin10":"","thin5":"","income":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":160,"wires":[["87f5335b.1e0cb"]]},{"id":"87f5335b.1e0cb","type":"function","z":"b2d04873.b93d28","name":"Pre Token","func":"var developed = ['Australia', 'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',\n       'Czechia', 'Denmark', 'Germany', 'Hungary', 'Iceland', 'Ireland',\n       'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',\n       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',\n       'Romania', 'Singapore', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',\n       'Switzerland',\n       'United Kingdom of Great Britain and Northern Ireland',\n       'United States of America'];\nvar status = 1;\nfor (var i in developed){\n    if (msg.payload.country == msg.payload.i){\n        status = 0;\n        break;\n    }\n}\n\nvar countries = {\n    'Afghanistan': 0, 'Albania': 1, 'Algeria': 2, 'Angola': 3, 'Antigua and Barbuda': 4,\n     'Argentina': 5, 'Armenia': 6, 'Australia': 7, 'Austria': 8, 'Azerbaijan': 9,\n     'Bahamas': 10, 'Bahrain': 11, 'Bangladesh': 12, 'Barbados': 13, 'Belarus': 14,\n     'Belgium': 15, 'Belize': 16, 'Benin': 17, 'Bhutan': 18, 'Bolivia (Plurinational State of)': 19,\n     'Bosnia and Herzegovina': 20, 'Botswana': 21, 'Brazil': 22, 'Brunei Darussalam': 23,\n     'Bulgaria': 24, 'Burkina Faso': 25, 'Burundi': 26, \"Côte d'Ivoire\": 27, 'Cabo Verde': 28,\n     'Cambodia': 29, 'Cameroon': 30, 'Canada': 31, 'Central African Republic': 32,\n     'Chad': 33, 'Chile': 34, 'China': 35, 'Colombia': 36, 'Comoros': 37,\n     'Congo': 38, 'Cook Islands': 39, 'Costa Rica': 40, 'Croatia': 41, 'Cuba': 42, 'Cyprus': 43,\n     'Czechia': 44, \"Democratic People's Republic of Korea\": 45, 'Democratic Republic of the Congo': 46,\n     'Denmark': 47, 'Djibouti': 48, 'Dominica': 49, 'Dominican Republic': 50, 'Ecuador': 51,\n     'Egypt': 52, 'El Salvador': 53, 'Equatorial Guinea': 54, 'Eritrea': 55, 'Estonia': 56,\n     'Ethiopia': 57, 'Fiji': 58, 'Finland': 59, 'France': 60, 'Gabon': 61, 'Gambia': 62,\n     'Georgia': 63, 'Germany': 64, 'Ghana': 65, 'Greece': 66, 'Grenada': 67, 'Guatemala': 68,\n     'Guinea': 69, 'Guinea-Bissau': 70, 'Guyana': 71, 'Haiti': 72, 'Honduras': 73, 'Hungary': 74,\n     'Iceland': 75, 'India': 76, 'Indonesia': 77, 'Iran (Islamic Republic of)': 78, 'Iraq': 79,\n     'Ireland': 80, 'Israel': 81, 'Italy': 82, 'Jamaica': 83, 'Japan': 84, 'Jordan': 85,\n     'Kazakhstan': 86, 'Kenya': 87, 'Kiribati': 88, 'Kuwait': 89, 'Kyrgyzstan': 90,\n     \"Lao People's Democratic Republic\": 91, 'Latvia': 92, 'Lebanon': 93, 'Lesotho': 94,\n     'Liberia': 95, 'Libya': 96, 'Lithuania': 97, 'Luxembourg': 98, 'Madagascar': 99, 'Malawi': 100,\n     'Malaysia': 101, 'Maldives': 102, 'Mali': 103, 'Malta': 104, 'Marshall Islands': 105,\n     'Mauritania': 106, 'Mauritius': 107,'Mexico': 108, 'Micronesia (Federated States of)': 109,\n     'Monaco': 110, 'Mongolia': 111, 'Montenegro': 112, 'Morocco': 113, 'Mozambique': 114,\n     'Myanmar': 115, 'Namibia': 116, 'Nauru': 117, 'Nepal': 118, 'Netherlands': 119,\n     'New Zealand': 120, 'Nicaragua': 121, 'Niger': 122, 'Nigeria': 123, 'Niue': 124,\n     'Norway': 125, 'Oman': 126, 'Pakistan': 127, 'Palau': 128, 'Panama': 129, 'Papua New Guinea': 130,\n     'Paraguay': 131, 'Peru': 132, 'Philippines': 133, 'Poland': 134, 'Portugal': 135,\n     'Qatar': 136, 'Republic of Korea': 137, 'Republic of Moldova': 138, 'Romania': 139,\n     'Russian Federation': 140, 'Rwanda': 141, 'Saint Kitts and Nevis': 142, 'Saint Lucia': 143,\n     'Saint Vincent and the Grenadines': 144, 'Samoa': 145, 'San Marino': 146,\n     'Sao Tome and Principe': 147, 'Saudi Arabia': 148, 'Senegal': 149, 'Serbia': 150,\n     'Seychelles': 151, 'Sierra Leone': 152, 'Singapore': 153, 'Slovakia': 154, 'Slovenia': 155,\n     'Solomon Islands': 156, 'Somalia': 157, 'South Africa': 158, 'South Sudan': 159,\n     'Spain': 160, 'Sri Lanka': 161, 'Sudan': 162, 'Suriname': 163, 'Swaziland': 164,\n     'Sweden': 165, 'Switzerland': 166, 'Syrian Arab Republic': 167, 'Tajikistan': 168,\n     'Thailand': 169, 'The former Yugoslav republic of Macedonia': 170, 'Timor-Leste': 171,\n     'Togo': 172, 'Tonga': 173, 'Trinidad and Tobago': 174, 'Tunisia': 175,\n     'Turkey': 176, 'Turkmenistan': 177, 'Tuvalu': 178, 'Uganda': 179, 'Ukraine': 180,\n     'United Arab Emirates': 181, 'United Kingdom of Great Britain and Northern Ireland': 182,\n     'United Republic of Tanzania': 183, 'United States of America': 184, 'Uruguay': 185,\n     'Uzbekistan': 186, 'Vanuatu': 187, 'Venezuela (Bolivarian Republic of)': 188,\n     'Viet Nam': 189, 'Yemen': 190, 'Zambia': 191, 'Zimbabwe': 192\n}\n\nglobal.set(\"country\",countries[msg.payload.country])\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"status\",status)\nglobal.set(\"mortality\",msg.payload.mortality)\nglobal.set(\"deaths\",msg.payload.deaths)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"percen_expen\",msg.payload.percent_expen)\nglobal.set(\"HepB\",msg.payload.HepB)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under5\",msg.payload.under5)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"total_expen\",msg.payload.total_expen)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"thin10\",msg.payload.thin10)\nglobal.set(\"thin5\",msg.payload.thin5)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"schooling\",msg.payload.schooling)\n\nvar apikey = \"XKH3d5fslpfsW7ztAVGaPupK9epRWtFHUBIo3TLmPCe7\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["6ef37757.055038"]]},{"id":"6ef37757.055038","type":"http request","z":"b2d04873.b93d28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":220,"wires":[["d94644da.bb62d8"]]},{"id":"d94644da.bb62d8","type":"function","z":"b2d04873.b93d28","name":"","func":"var token = msg.payload.access_token\nvar instance_id = \"cfc1e3d4-7220-4712-a696-5ad9a13c51f0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nvar country = global.get(\"country\")\nvar year = global.get(\"year\")\nvar status = global.get(\"status\")\nvar mortality = global.get(\"mortality\")\nvar deaths = global.get(\"deaths\")\nvar alcohol = global.get(\"alcohol\")\nvar percen_expen = global.get(\"percen_expen\")\nvar HepB = global.get(\"HepB\")\nvar measles = global.get(\"measles\")\nvar bmi = global.get(\"bmi\")\nvar under5 = global.get(\"under5\")\nvar polio = global.get(\"polio\")\nvar total_expen = global.get(\"total_expen\")\nvar diphtheria = global.get(\"diphtheria\")\nvar hiv = global.get(\"hiv\")\nvar gdp = global.get(\"gdp\")\nvar population = global.get(\"population\")\nvar thin10 = global.get(\"thin10\")\nvar thin5 = global.get(\"thin5\")\nvar income = global.get(\"income\")\nvar schooling = global.get(\"schooling\")\n\nmsg.payload = {\n    \"fields\": [\n    \"Country\", \"Year\", \"Status\", \"Adult_Mortality\",\n    \"Infant_Deaths\", \"Alcohol\", \"Percentage_Expenditure\",\n    \"Hepatitis_B\", \"Measles\", \"BMI\", \"Under_5_Years\", \"Polio\",\n    \"Total_Expenditure\", \"Diphtheria\", \"HIV_AIDS\", \"GDP\",\n    \"Population\", \"Thinness_10\", \"Thinness_5\",  \"Income\", \"Schooling\"],\n    \"values\": [\n        [\n            country, year, status, mortality,\n            deaths, alcohol, percen_expen,\n            HepB, measles, bmi, under5, polio,\n            total_expen, diphtheria, hiv, gdp,\n            population, thin10, thin5, income, schooling]]\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["d5e8dc5d.00866","243b984d.5230b8"]]},{"id":"d5e8dc5d.00866","type":"http request","z":"b2d04873.b93d28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/cfc1e3d4-7220-4712-a696-5ad9a13c51f0/deployments/d5b3025e-f822-496c-a076-ccad0ef38288/online","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":220,"wires":[["524d5656.7d1c68","cfbc132a.9191a"]]},{"id":"cfbc132a.9191a","type":"function","z":"b2d04873.b93d28","name":"Showing result","func":"msg.payload = \"The predicted Life Expectancy based on the details provided is \" + msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":140,"wires":[["c5285502.e5ee18","17f1c4ec.7f34fb","70ae473c.a759c8"]]},{"id":"70ae473c.a759c8","type":"debug","z":"b2d04873.b93d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":60,"wires":[]},{"id":"c5285502.e5ee18","type":"ui_text","z":"b2d04873.b93d28","group":"556d11c3.c4acc","order":3,"width":"9","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1010,"y":140,"wires":[]},{"id":"17f1c4ec.7f34fb","type":"ui_toast","z":"b2d04873.b93d28","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":970,"y":220,"wires":[[]]},{"id":"524d5656.7d1c68","type":"debug","z":"b2d04873.b93d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":320,"wires":[]},{"id":"243b984d.5230b8","type":"debug","z":"b2d04873.b93d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":40,"wires":[]},{"id":"1cb43eae.6f6621","type":"inject","z":"b2d04873.b93d28","name":"","topic":"","payload":"Enter the details as per the stated Label. Only Country is String input other inputs are numeric","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":280,"wires":[["fc4922ce.e73b1"]]},{"id":"fc4922ce.e73b1","type":"ui_text","z":"b2d04873.b93d28","group":"556d11c3.c4acc","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":250,"y":300,"wires":[]},{"id":"556d11c3.c4acc","type":"ui_group","z":"","name":"Detail","tab":"ed7e4b74.70ae88","order":1,"disp":true,"width":"9","collapse":false},{"id":"ed7e4b74.70ae88","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]